@{
    Layout = "_LayoutAdmin";
}@using Wardrobe_Bliss.Areas.AdminArea.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<UsersModel>
<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Datatables</h5>
                        <a asp-controller="Product" asp-action="ApiProductInsert">
                            <button type="submit" class="btn btn-primary mb-3">Add Category</button>
                        </a>
                        <!-- Table with stripped rows -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>user_id</th>
                                    <th>first_name</th>
                                    <th>last_name</th>
                                    <th>email</th>
                                    <th>password</th>
                                    <th>phone_number</th>
                                    <th>shipping_address</th>
                                    <th>billing_address</th>
                                    <th>created_at</th>
                                    <th>updated_at</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.user_id</td>
                                        <td>@user.first_name</td>
                                        <td>@user.last_name</td>
                                        <td>@user.email</td>
                                        <td>@user.password</td>
                                        <td>@user.phone_number</td>
                                        <td>@user.shipping_address</td>
                                        <td>@user.billing_address</td>
                                        <td>@user.created_at</td>
                                        <td>@user.updated_at</td>
                                        <td class="d-flex justify-content-start">
                                            <a asp-controller="Product" asp-action="ApiProductInsert" asp-route-id="@user.user_id">
                                                <button type="button" class="btn btn-warning me-2">Edit</button>
                                            </a>
                                            <a asp-controller="User" asp-action="ApiUserDelete" asp-route-id="@user.user_id"><button type="button" class="btn btn-danger" onclick="return confirmDelete();">Delete</button></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete?');
    }
</script>
